.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_container {
  height: 5rem;

  position: sticky;
  top: 0;
  width: 100%;

  background-color: var(--black-800);
  border-bottom: 1px solid var(--purple-500);

  filter: opacity(0.9);
}

.header_container a {
  font-size: 1rem;
  color: var(--purple-200);
  font-weight: bold;
}

.header_container a:hover {
  color: var(--purple-500);
}

.header_content {
  max-width: 1120px;
  padding: 0 1.5rem;

  @media screen and (min-width:800px) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  display: none;

  @media screen and (min-width:800px) {
    display: block;
  }
}

.menu_list {
  list-style: none;
  text-align: center;
}

.menu_list li {
  margin: 0 0 0 1rem;
}

/* SWITCH */
.switch {
  position: relative;
  display: none;
  width: 40px;
  height: 20px;
  margin: 0 0 0 1rem;

  @media screen and (min-width:800px) {
    display: inline-block;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--purple-200);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--purple-200);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.home_container {
  max-width: 1120px;
  margin: 1rem auto;
  padding: 0 2rem;
  height: calc(100vh - 100px);

  @media screen and (min-width:800px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
}

.home_container p,
h1,
h4 {
  text-align: center;
  font-size: 1rem;
}

.home_container h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
}

.home_container h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: bold;
}

.home_container p {
  margin: 1rem 0;
}

.home_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width:800px) {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.home_container .btn {
  width: 40%;
}

/* .home_content img {
    display: none;

    @media screen and (min-width:800px) {
        display: flex;
        width: 75%;
    }
} */

.home_content img {
  width: 50%;
  border: 5px solid var(--purple-500);
  border-radius: 50%;

  @media screen and (min-width:800px) {
    display: flex;
    width: 60%;
  }
}


.section_container {
  max-width: 1120px;
  margin: -1.5rem auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:800px) {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 0 1rem;
  }
}

.section_container img {
  width: 50%;
  border: 5px solid var(--purple-500);
  border-radius: 50%;

  @media screen and (min-width:800px) {
    display: flex;
    width: 35%;
  }
}

.section_container p,
h1 {
  text-align: center;
  font-size: 1rem;
}

.section_container h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
}

.section_container p {
  margin: 1rem 0;
}

.section_github {
  justify-content: space-evenly;
}

footer {
  margin: 2rem 0 0 0;
  padding: 2rem;
  background-color: var(--purple-500);
  filter: opacity(0.9);
  font-weight: bold;



  @media screen and (min-width:800px) {
    margin: 0;
  }

}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}


.tm-social {
  width: 50px;
  height: 50px;
  margin: 0 16px 0 16px;

}

.foo {
  color: black;
  justify-content: center;

}

/*Estilizacao card*/


.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #f5e109;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #080808;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #0b0c0c;
}

.solution_card .so_top_icon {}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.our_solution_content p {}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}

@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }

  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}